

<div class="container-fluid col-12 col-md-7 bg-light py-3">
   
    <p class="list-group-horizontal list-group">
        <span style="line-height: 60px;" class="subtitle">Bad words:</span>
        <span class="bad-words list-group-item">{{ badline }}</span>
    </p> 


<form  class="form-row d-flex flex-row justify-content-between align-items-center" name="censorForm">

    <input type="text" class="form-control col-7 pl-3"   [(ngModel)]='word' name="word" [placeholder]="plhdr" [class.valid]='inputBorder'> 

    <button class="btn btn-warning col-2" (click)='add()' type="button">Add</button>

    <button class="btn btn-danger col-2" (click)='resetInputs()'>Reset</button>

    <textarea class="form-control mt-3"  rows="5" [placeholder]="text" name="text-input" [(ngModel)]="areatext" [class.valid]='areaBorder'></textarea>

    <button class="btn  mt-3 col-12 replace-btn" (click)='replaceWord()'>Censor</button>

</form>
 
</div> 

