h1{
    color: rgb(12, 2, 12);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-fluid{
    min-height: 70px;
    background: rgb(246, 232, 232);
    border-bottom: 1px dashed rgb(12, 2, 12);
}